.App {
  background-color: var(--color-grayscale-300);
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .App {
    padding: 24px 0;
    flex-direction: column;
    height: 100%;
  }
}
